<form>
  <div
    class="flex flex-col items-center justify-center w-full h-48 p-6 bg-white border border-dashed border-gray-300 rounded-lg hover:border-blue-400 transition duration-300 relative"
    (dragover)="handleDragOver($event)"
    (dragleave)="handleDragLeave($event)"
    (drop)="handleDrop($event)"
  >
    <div
      class="absolute inset-0 bg-blue-100 transition duration-300"
      [class.opacity-50]="isDragging"
      [class.opacity-0]="!isDragging"
    ></div>
    <svg
      class="mx-auto h-12 w-12 text-gray-300"
      viewBox="0 0 24 24"
      fill="currentColor"
      aria-hidden="true"
      data-slot="icon"
    >
      <path
        fill-rule="evenodd"
        d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z"
        clip-rule="evenodd"
      />
    </svg>
    <p class="mt-2 text-sm text-gray-600">
      <label
        for="file-upload"
        class="relative cursor-pointer rounded-md font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
      >
        <span class="text-blue-500 font-medium cursor-pointer"
          >Enviar arquivo</span
        >
        <input
          id="file-upload"
          name="file-upload"
          type="file"
          class="sr-only"
        />
      </label>
      ou arraste e solte-o aqui
    </p>
    <p class="text-xs text-gray-500">PNG, JPG, WEBP e BMP até 10MB</p>
  </div>
</form>
